body {
  font-family: "Ranchers", sans-serif;
}
* {
  border-width: 0px;
  border-style: solid;
  box-sizing: border-box;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  a {
    color: lightgray;
  }
  a:hover {
    color: #2c90d8;
  }
}
